h1, h2 {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    mix-blend-mode: difference;
}

h3, h4, h5, h6, a, p {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    mix-blend-mode: difference;
}

a {
    text-decoration-line: none;
}

img {
    max-width: 100%;
}

body {
    background-color: #000000;
}

#Welcome {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Welcome h1 {
    font-size: 10rem;
}

main section {
    min-height: 100vh;
    border: 1px solid #000000;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    min-height: 40px;
    background-color: black;
    text-align: center;
    font-size: 15px;
    /*    margin: 0 10rem;*/
    margin-bottom: px;
}

header h1 {
    text-align: center;
    margin-bottom: 400px;
    margin-top: 400px;
    font-size: 10rem;
}

#About {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#About p {
    margin: 0 20rem;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: center;
    line-height: 3.0;
    margin-top: 5%;
}

.formeabout {
    width: 50%
}

#WhereandWhen {
    text-align: center;
    font-size: 4rem;
}

.rond1 {
    display: block;
    margin: 0 auto;
    width: 5%;
}

#Horraires {
    float: left;
    margin-left: 20%
}

#Horraires p {
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    line-height: 3.0;
}

#Addresse {
    margin-left: 70%
}

#Addresse p {
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    line-height: 3.0;
}

.rond2 {
    width: 20%;
    margin: auto;
}

.rond3 {
    width: 40%;
    margin: auto;
}

.rond4 {
    width: 60%;
    margin: auto;
}

#ThisWeek {
    text-align: center;
    font-size: 4rem;
    margin-top: 10%;
    margin-bottom: 15%;
}

.row-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 20%;
    margin-bottom: 20%;
}

.row-flex.cover img {
    width: 20%;
    margin: 10%
}

.row-flex .description {
    /*    display: flex;*/
}

.row-flex :nth-child(odd) {
    direction: rtl
}

.row-flex h4 {
    font-size: 1rem;
}

.forme2 {
    width: 10%;
    margin: auto;
}

#Who {
    text-align: center;
    font-size: 4rem;
}

#stay {
    text-align: center;
    font-size: 4rem;
}

.info-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.info-section>div {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.who-section {
    display: flex;
}

.who-section img {
    max-width: 25%;
    margin: auto;
}

.who-section h4 {
    font-size: 1rem;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
}

.logos {
    text-align: center;
    padding: 10%;
}

.logos img {
    width: 200px;
    display: inline-block;
}

.description img {
    margin-top: 20%;
    max-width: 70%;
}

.description {
    text-align: center;
    margin-right: 20%;
    margin-left: 20%
}

.description h4 {
    margin-top: 10%;
}

@media only screen and (max-width: 800px) {
    nav {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        background-color: black;
        font-size: 15px;
        /*margin: 0 5rem;*/
        width: 100%;
    }

    #About p {
        margin: 0 5rem;
        font-size: 15px;
        letter-spacing: 2px;
        text-align: center;
        line-height: 3.0;
        margin-top: 5%;
    }

    #WhereandWhen {
        text-align: center;
        font-size: 2rem;
    }

    #ThisWeek {
        text-align: center;
        font-size: 2rem;
        margin-top: 10%;
        margin-bottom: 15%;
    }

    #Who {
        text-align: center;
        font-size: 2rem;
    }

    #stay {
        text-align: center;
        font-size: 2rem;
    }

    .who-section img {
        max-width: 50%;
        margin: auto;
    }

    .row-flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        margin-top: 20%;
        margin-bottom: 20%;
    }

    .row-flex.cover img {
        max-height: 5%;
        margin: 2%
    }

    .row-flex .description {
        /*    display: flex;*/
    }

    .row-flex :nth-child(odd) {
        direction: rtl
    }

    .row-flex h4 {
        font-size: 1rem;
    }
}